.area1-color,
.line1-legend-box-color {
    fill: #a5d2f7;
}

.histogram .bar rect.area1-color.active {
    fill: #8aaecb;
}

.histogram .bar rect.area2-color.active {
    fill: #16c105;
}

.histogram .bar rect.area3-color.active {
    fill: #ad7507;
}

.line1-legend-box-color {
    background-color: #a5d2f7;
    border-color: #a5d2f7;
}

.line2-legend-box-color {
    background-color: #18ff00;
    border-color: #18ff00;
}

.line3-legend-box-color {
    background-color: #e99d09;
    border-color: #e99d09;
}

.line1-color {
    stroke: #a5d2f7;
}

.legend .btn-group .btn, 
.legend .btn-group .btn:focus {
    color: #3b3b3b;
    text-shadow: none;
}

.legend .btn-group .btn:hover {
    color: #3b3b3b;
    border-color: none;
}

.legend span span {
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0;
    padding-bottom: 0;
}

.legend a {
    color: #3b3b3b;
    text-decoration: none;
}

.modal {
    color: #3b3b3b;
}

.series-selector {
    background-color: #202020;
    border-color: #525151;
}