a,
a:active,
a:visited,
a:hover {
    color: #71b4eb;
}

a.active:hover {
    color: #fff;
}

.area1-color,
.line1-legend-box-color {
    fill: #6db3ed;
}

.histogram .bar rect.area1-color.active {
    fill: #5d9dd3;
}

.histogram .bar rect.area2-color.active {
    fill: #049262;
}

.histogram .bar rect.area3-color.active {
    fill: #e99d09;
}

.line1-legend-box-color {
    background-color: #6db3ed;
    border-color: #6db3ed;
}

.line2-legend-box-color {
    background-color: #05b378;
    border-color: #05b378;
}

.line3-legend-box-color {
    background-color: #e99d09;
    border-color: #e99d09;
}

.line1-color {
    stroke: #6db3ed;
}

.line2-color {
    stroke: #05b378;
}

.legend .btn-group .btn, 
.legend .btn-group .btn:focus {
    color: white;
    text-shadow: none;
}

.legend .btn-group .btn:hover {
    color: white;
    border:1px solid rgba(0, 0, 0, 0);
}

.legend span span {
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0;
    padding-bottom: 0;
}

.legend a {
    color: #3b3b3b;
    text-decoration: none;
}

.modal {
    color: #3b3b3b;
}

.series-selector {
    background-color: #202020;
    border-color: #525151;
}

.select2-container .select2-choices .select2-search-field input,
.select2-container .select2-choice,
.select2-container .select2-choices {
    background-color: #f1f1f1;
}